.first{
    margin-top: 400px;
    width: 15%;
    text-align: center;
}
.second{
    margin-top: 600px;
    width: 17%;
    text-align: center;
    margin-bottom: 200px;
}
.tried{
    margin-top: 400px;
    width: 15%;
    text-align: center;
}