header {
  width: 100%;
  position: absolute;
  z-index: 17;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .navigation {
    cursor: pointer;
    padding: 10px 13px;
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 4;
    .Menu {
      display: inline-flex;
      align-items: center;
      justify-content: space-evenly;
      column-gap: 50px;
      min-width: 100px;
      .Home,
      .LuxuryPackages,
      .BookWithUs,
      .WhyLuxTrips,
      .Contact,
      .ClientArea {
        user-select: none;
        color: black;
        font-size: 24px;
        font-family: "Forum";
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.64px;
        word-wrap: break-word;
        text-decoration: none;
      }
    }
    .Logo {
      width: 121px;
      height: 63.56px;
    }
    .ButtonCallMe {
      width: 250px;
      height: 60.76px;
      border: 1px solid #ffffff;
      border-radius: 61px;
      background: inherit;
      padding: 11px 24px;
      font-family: "Forum";
      font-style: normal;
      font-weight: 400;
      font-size: 22px !important;
      line-height: 18px;

      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      color: #000000;
    }
  }
}
