.first {
  margin-top: 400px;
  width: 15%;
  text-align: center;
}
.second {
  margin-top: 600px;
  width: 17%;
  text-align: center;
  margin-bottom: 200px;
}
.tried {
  margin-top: 400px;
  width: 15%;
  text-align: center;
}
.main1 {
  background-color: #e2d3ce;
}
.mainHead {
  margin: auto;
  display: flex;
  width: 30%;
}
.empty {
  background-image: url("../../assets/gradient.png");
  height: 500px;
  width: 100%;
  position: absolute;
  top: 946px;
}
.stats {
  margin-top: 80px;
  margin-left: 30%;
  margin-bottom: 80px;
}
.box {
  margin: auto;
  width: 28%;
  text-align: center;
}
.box1 {
  padding-top: 40px;
  margin: auto;
  width: 15%;
  text-align: center;
  padding-bottom: 100px;
}
.main2 {
  background-image: url("../../assets/bg_book with us.png");
  background-size: cover;
  margin-top: -2px;
  padding: 50px;
}

.text {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 50px;
}

.tx {
  margin-top: 50px;
  height: 500px;
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.img-but {
  width: 254px;
  height: 55px;
  border-radius: 74px;
  background-color: #0c0b10;
  color: white;
  font-family: "Forum", serif;
  font-size: 21px;
  cursor: pointer;
}

.text1 {
  width: 42%;
  text-align: center;
  margin: auto;
  margin-top: 250px;
}

.button {
  width: 35%;
  height: 55px;
  border-radius: 74px;
  background-color: #0c0b10;
  color: white;
  font-family: "Forum", serif;
  font-size: 21px;
  cursor: pointer;
  margin-top: 80px;
  margin-left: 32.5%;
}
.last-item {
  margin-bottom: 400px;
}
.gradient1 {
  background-image: url(../../assets/gradient.png);
  height: 500px;
  width: 100%;
  position: absolute;
  top: 3750px;
}
.contact {
  background-image: url(../../assets/woman.png);
  background-size: cover;
  height: 1200px;
}
.content-box {
  width: 35%;
  margin: auto;
  margin-top: 50px;
}
.first-cont {
  margin-top: -50px;
  padding-top: 300px;
}
