.additionsl-page {
  background-color: #e2d3ce;
  h1 {
    text-align: center;
  }
  .ability {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .info__img {
    width: 100%;
  }
  .info__subtitle {
    margin-top: 20px;
  }
  .info {
    width: 30%;
  }
  .form {
    padding: 30px;
    background-color: white;
    width: 35%;
  }
  .info__text {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .info__subtext {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .blocks {
    display: flex;
    flex-direction: column;
  }
  .block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .block__text {
    margin-top: 14px;
  }
  .input {
    display: flex;
    flex-direction: column;
  }
  .location {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
  }
  .inp {
    height: 40px;
    border: 1px solid #79655e;
    border-radius: 20px;
  }
  .input__text {
    margin-left: 20px;
  }
  .inpt {
    height: 40px;
    border: 1px solid #79655e;
    border-radius: 20px;
    width: 165px;
  }
  .btns {
    display: flex;
    flex-direction: row;
  }
  .input__text {
    color: #79655e;
  }
  .input__label {
    color: #79655e;
  }

  .location__img {
    background-image: url(../../../public/request.png);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    margin-left: 110px;
  }
  .calls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .input__call {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #79655e;
  }
  .loc {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .loc__img {
    display: flex;
    justify-content: center;
  }
  input {
    border-radius: 20px;
    border: 1px solid #79655e;
  }
}
